html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section li {
    /* background-image: url("./link_button.svg"); */
    /*padding-top: 1.2rem; /* TODO: exact vertical alignment */  */
  /* list-style: none;
  background-repeat: no-repeat;
  background-size: auto;
  text-indent: 1rem;
  
  text-justify: inter-cluster;
  height: 4rem;
  color: white;
  background-color: transparent;
  column-span: 1;
  margin-bottom: 2rem; */
}
