@tailwind base;
@tailwind components;

    
@tailwind utilities;

@layer components{
    .header-button{
        @apply px-8 py-3 rounded m-1 text-blue-900 font-bold hover:font-extrabold text-3xl;
    }
}

html {
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0%;
    padding:0%;
    background-repeat:no-repeat;
    background-size: 100vw, 100vh;
    background-clip:border-box;
    
}
main{
    position: relative;
    margin: 0;
    padding: 0;
}

Image{
    margin: 0;
    padding: 0;
    z-index: -1;
}

.fill{
    height: auto;
    width: 100vw;
}

